<!DOCTYPE html>
<html>
  <head>
    <title>RubyonrailsdeveloperTech</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="text-center">
        <h1>Ruby On Rails Developer Application</h1>
      </header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Home", landing_index_path, class: 'nav-link'%>
          </li>
        </ul>
      </nav>
      <section>
        <%= yield %>
      </section>
    </div>
  </body>
</html>
